{%extends "base.html" %}
{%block start%}


<h1>this is index page</h1>
<a href="/contacts">Contacts</a>
<a href="/about">About us</a>
<a href="{% url 'students' %}">Students</a>

<hr>


{{peoples}}
<table border="1" cellspacing="0">
    <tr>
        <th>S.no</th>
        

        <th>Name</th>
        <th>Age</th>
        <th>who can vote</th>
    </tr>
    {%for people in peoples%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{people.name}}</td>
        <td>{{people.age}}</td>
            <td>
                {% if people.age > 18 %}
                ✅
                {%else%}
                🚫
                {%endif%}
            </td>
        </tr>
        {%endfor%}
    </table>
<p>
{%if 'cucumber' in vegetables%}
yes its available
{%elif 'brinjal' in vegetables%}
yes its available
{%else%}
not available

{%endif%}

</p>

{%endblock%}